<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>User</h2>

<table>
    <tr>
        <th> id</th>
        <th> Name</th>
        <th> Surname</th>
        <th> Name</th>
        <th> Age</th>
    </tr>
    <c:fore




</table>

<!--<div>-->
<!--  <th:block th:each="msg : ${userList}">-->
<!--    <h1 th:text="${msg}"></h1>-->
<!--  </th:block>-->
<!--</div>-->

</body>
</html>